<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta content="telephone=no" name="format-detection" />
	<title>Email Template</title>
	

	<style type="text/css" media="screen">
		/* Linked Styles */
		body { padding:0 !important; margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background:rgb(224, 224, 224); }
		a { color:#007bc5; text-decoration:underline }
		h2 a, .h2 a { color:#1e2735; text-decoration:none }
		.footer a { color:#99a7b5; text-decoration:underline }

		/* Campaign Monitor wraps the text in editor in paragraphs. In order to preserve design spacing we remove the padding/margin */
		p { padding:0 !important; margin:0 !important } 
	</style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background:.background-body">

<table width="60%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5" style="margin: 0 auto;">
	<tr>
		<td align="center" valign="top">
			<!-- Top -->
			
			<div style="font-size:0pt; line-height:0pt; height:1px; background:#0d1016; "><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1" style="height:1px" alt="" /></div>

			<div style="font-size:0pt; line-height:0pt; height:1px; background:#232932; "><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1" style="height:1px" alt="" /></div>

			<!-- END Top -->
			<!-- Header -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#18202b">
				<tr>
					<td align="center">
						

						<table width="660" border="0" cellspacing="0" cellpadding="0" style="margin: 20px; ">
							<tr>
								
								
							</tr>
						</table>

					</td>
				</tr>
			</table>
			

			<div style="font-size:0pt; line-height:0pt; height:1px; background:#2a3b4f; "><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1" style="height:1px" alt="" /></div>

			<!-- END Header -->
			<!-- Featured Content -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#1e2735">
				<tr>
					<td align="center">
						<div class="h1" style="color:#ffffff; font-family:Tahoma; font-size:22px; line-height:26px; text-align:center; font-weight:bold">
								<div>Estimado</div>
						</div>
						<div style="font-size:0pt; line-height:0pt; height:35px"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="35" style="height:35px" alt="" /></div>

						<table width="660" border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 15px">
							<tr>
								<td valign="top"  class="featured" style="color:#7e8c95; font-family:Tahoma; font-size:12px; line-height:20px; text-align:left">
								
									
									<div style="font-size:0pt; line-height:0pt; height:12px"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="12" style="height:12px" alt="" /></div>


									<div style="color:#ffffff; font-size:15px;">Te notificamos que se ha generado una venta express del canal Ripley, con número de ordén {{order_channel}}.</div>
									<div style="font-size:0pt; line-height:0pt; height:15px"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="15" style="height:15px" alt="" /></div>


									<!-- <table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:center"><a href="{{url}}"><img src="https://i.imgur.com/9eXydkE.png" title="Click aquí" /></a></td>
											
										</tr>
									</table> -->

											
								</td>
								
							</tr>
						</table>
						<!-- <div style="color:#ffffff; font-size:13px;">¿No funciona el botón? Pega el siguiente enlace en tu navegador <a href="{{server}}/auth/reset/?token={{token}}" class="link3-u" style="color:white; text-decoration:none; font-weight: 600; display: block; word-break: break-all; width: 60%;">{{url}}</a></div> -->
						<div style="font-size:0pt; line-height:0pt; height:35px"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="35" style="height:35px" alt="" /></div>

					</td>
				</tr>
			</table>
			
			<!-- Bottom Content -->
			
			<!-- END Bottom Content -->
			<!-- Footer -->
			<div style="font-size:0pt; line-height:0pt; height:1px; background:#353a42; "><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1" style="height:1px" alt="" /></div>

			<div style="font-size:0pt; line-height:0pt; height:1px; background:#0e131a; "><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1" style="height:1px" alt="" /></div>

			<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#121821">
				<tr>
					<td class="footer" style="color:#56606b; font-family:Arial; font-size:11px; line-height:17px; text-align:center">
						<div style="font-size:0pt; line-height:0pt; height:15px"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="15" style="height:15px" alt="" /></div>

						<div style="font-size:0pt; line-height:0pt; height:15px"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="15" style="height:15px" alt="" /></div>

					</td>
				</tr>
			</table>
			<!-- END Footer -->
		</td>
	</tr>
</table>

</body>
</html>
