<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <title>Email Template</title>
    <style type="text/css" media="screen">
    /* Linked Styles */
    body {
        /*padding: 0 !important;*/
        padding-left: 20px !important;
        margin: 0 !important;
        display: block !important;
        -webkit-text-size-adjust: none;
    }

    

    p {
        padding: 0 !important;
        margin: 0 !important
    }
    </style>
</head>

<body class="body" style="margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background:.background-body">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
        <tr>
            <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center">
                            <div class="h1" style="font-family:Tahoma; font-size:14px; line-height:18px; text-align:left;">
                                <div>Estimados</div>
                            </div>
                            </br>
                            <div style="font-size:0pt; line-height:0pt; height:35px"></div>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 15px">
                                <tr>
                                    <td valign="top" class="featured" style="font-family:Tahoma; font-size:12px; line-height:17px; text-align:left">
                                        <div style="font-size:0pt; line-height:0pt; height:12px"></div>
                                        <div style="font-size:13px;">Junto con saludar, favor generar etiqueta multibulto para la OC {{order_channel}}. Necesitamos {{total_products}} etiquetas.</div>
                                    	</br>
                                        <div style="font-size:13px;">Quedamos atentos y desde ya, muchas gracias.</div>
                                        <div style="font-size:0pt; line-height:0pt; height:15px"></div>
                                    </td>
                                </tr>
                            </table>

                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><a href="https://imgur.com/H8A4gZz"><img src="https://i.imgur.com/H8A4gZz.png" title="source: imgur.com" /></a></td>
									
								</tr>
								<tr>
									<td>
										<div class="h1" style="font-family:Tahoma; font-size:14px; line-height:18px; text-align:left;">
                                		JUAN ERNESTO URETA ESPINOZA
                                		</div>
                                		
                           			 </div></td>
								</tr>
								<tr>
									<td><div style="font-size:15px; font-family:Tahoma;">Director General y Socio Fundador</div></td>
								</tr>
								<tr>
									<td><div style="font-size:15px; font-family:Tahoma;"><a href="">juan.ureta@asiamerica.cl</a></div></td>
								</tr>
								<tr>
									<td><div style="font-size:15px; font-family:Tahoma;"><a href="">www.asiamerica.cl</a></div></td>
								</tr>
								<tr>
                           			 <td><div style="font-size:15px; font-family:Tahoma;">+569 5630 1999 </div></td>
                           		</tr>
							</table>

                            <div style="font-size:0pt; line-height:0pt; height:35px"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>